<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<form action="/list" method="post" onsubmit="login_btn.disabled = true; return true;">
		<input type="text" maxlength="16" placeholder="username" name="uname"><br>
		<input type="text" maxlength="16" placeholder="password" name="pwrd"><br>
		<button type="submit" name="login_btn">Login</button>
	</form>
	<form action="/create" method="GET"><button type="submit">Create Account</button></form>
</html>