<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>

	<h1>TO-WATCH</h1>

	<div id="login_form">
		<div id= "input_box">
			<form action="/list" method="post">
				<input type="text" maxlength="16" placeholder="username" name="uname"><br>
				<input type="password" maxlength="16" placeholder="password" name="pwrd"><br>
				<button id="login_btn" type="submit" name="login_btn" >LOGIN</button>
			</form>
			<form action="/create" method="GET"><button type="submit">CREATE ACCOUNT</button></form>
		</div>
	</div>
</html>