<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<form>
		<input type="text" maxlength="16" placeholder="username" name="uname"><br>
		<input type="text" maxlength="16" placeholder="password" name="pwrd"><br>
		<button type="submit">Login</button>
	</form>
</html>